.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My custom styles */
.Shop-nav {
  min-height: 10vh;
  background-color: #61dafb;
  padding: 30px 35px;
  align-items: center;
}

.Shop-nav ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  justify-content: space-between;
  align-items: inherit;
}

.Shop-nav ul li {
  color: white;
}

.Cart-section {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.Item-name {
  font-weight: 500;
}

.Item-img {
  height: 15vmin;
  width: 15vmin;
  margin-right: 40px;
}

.List-items {
  padding-left: 50px !important;
}

.Item-contents {
  display: flex;
  align-items: center;
}

.Quantity-contents {
  display: flex;
  flex-direction: column;
}

.Quantity-box {
  border: #e4e4e4 2.5px solid;
  padding: 10px 15px;
  margin: 0 10px;
}
